.big-picture {
  @include container;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem 6.25rem;
  gap: 1.25rem;
  box-sizing: border-box;

  &__aside {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-top: 3.75rem;
    padding-bottom: 5rem;
    border-top: 1px solid $dividers-1;
    width: 100%;
    box-sizing: border-box;
  }

  &__textarea {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-right: 0;

    @include breakpoint-min($bp-lg) {
      padding-right: 5rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__item {
    display: flex;
    gap: 1.875rem;
    align-items: center;
    border-top: 1px solid $dividers-1;
    padding: 1.25rem 0;

    &-num {
      font-weight: 700;
    }
  }

  &__swiper {
    width: 100%;
    max-width: none;
    height: 46.5rem;
    border-radius: 1.875rem;
    box-sizing: border-box;

    @include breakpoint-min($bp-md) {
      height: 46.5rem;
      border-radius: 2rem;
    }

    @include breakpoint-min($bp-lg) {
      height: 44.4375rem;
    }

    .swiper-wrapper {
      height: 100%;
    }

    .swiper-slide {
      width: 100% !important;
      flex: 1 0 auto;
      height: 100%;
      @include flex-center;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  @include breakpoint-min($bp-lg) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
  }

  @include breakpoint-min($bp-md) {
    padding: 0 2.5rem 7.5rem;
  }

  @include breakpoint-min($bp-lg) {
    padding: 0 2.5rem 7.5rem;
  }
}
