@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin container {
  max-width: $container-max-width-mobile;
  width: 100%;
  margin: 0;
  padding: 0;

  @include breakpoint-min($bp-md) {
    padding: 0 2.5rem;

    @include breakpoint-min($bp-lg) {
      padding: 0 2.5rem;
      max-width: $container-max-width-desktop;
    }
  }
}
@mixin button-primary {
  width: 8.625rem;
  height: 3rem;
  padding: 0.875rem 1.375rem;
  gap: 0.625rem;
  border-radius: 1000px;
  background: $green-light;
  color: $black;
  transition: background, color 0.3s ease-in-out;

  &:hover {
    background: $green-mid;
    color: $white;
  }
}
