// COLOR PALETTE
$black: #000000;
$gray-1: #cecece;
$gray-2: #e9e9e9;
$dividers-1: #e9e9e9;
$white: #ffffff;

$green-light: #dfecc6;
$green-mid: #8e9c78;
$green-dark: #485c11;

$gray-control: #e4e4e4;
$paragraph-color: #6f6f6f;
$headline-color: #000000;

// TYPOGRAPHY
$ff-serif: "Crimson Text", serif;
$ff-sans: "DM Sans", sans-serif;
$ff-mono: "Roboto Mono", monospace;

// SPACING
$container-max-width-mobile: 1600px;
$container-max-width-desktop: 1500px;
$section-padding: 6.25rem 0;

// BREAKPOINTS
$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 1024px;
